
ul.menu {
    position: relative;
	z-index:10000;
}

ul.sub_menu a {
    display: block;    
    text-decoration: none;
    
}
/*sub nav*/
ul.sub_menu ul {
    position: absolute;   
    overflow: hidden;
	z-index:1;
	margin-top:-3px;
	padding-top:13px; background:#333 !important;
}

ul.sub_menu ul li {
    background:none !important;   
    float: left; margin-right:0px; border-right: 1px solid #FFF;
	display:block;
}

ul.sub_menu ul li a {
    position: relative;
    display: block;    
    padding: 3px 20px; line-height:23px;
	background:#FF1717;z-index:1000;
	color:#FFF;
}

ul.sub_menu ul li a:hover {
    background:#F5F5F5; color:#333
}
